In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

from sklearn.metrics import mean_squared_error

#from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
#df_96 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1996_97_PP.csv")
#df_97 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1997_98_PP.csv")
#df_98 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1998_99_PP.csv")
#df_99 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED1999_00_PP.csv")
#df_00 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2000_01_PP.csv")
#df_01 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2001_02_PP.csv")
#df_02 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2002_03_PP.csv")
#df_03 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2003_04_PP.csv")
#df_04 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2004_05_PP.csv")
df_05 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2005_06_PP.csv")
df_06 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2006_07_PP.csv")
df_07 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2007_08_PP.csv")
df_08 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2008_09_PP.csv")
df_09 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2009_10_PP.csv")
df_10 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2010_11_PP.csv")
df_11 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2011_12_PP.csv")
df_12 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2012_13_PP.csv")
df_13 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2013_14_PP.csv")
df_14 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2014_15_PP.csv")
df_15 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2015_16_PP.csv")
df_16 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2016_17_PP.csv")
df_17 = pd.read_csv("CollegeScorecard_Raw_Data/MERGED2017_18_PP.csv")

/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,1408,1431,1432,1433,1489,1537,1538,1539,1540,1542,1606,1610,1611,1614,1615,1616,1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,1447,1537,1540,1542,1606,1614,1615) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,1537,1540,1542,1606,1614,1615) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,6,1461,1561,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1537,1540,1542,1575,1606,1614,1615,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1537,1540,1542,1547,1548,1549,1561,1575,1606,1614,1615,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,1169,1170,1171,1172,1173,1174,1175,1177,1178,1179,1180,1183,1184,1185,1186,1187,1188,1196,1199,1200,1209,1212,1213,1222,1223,1224,1225,1226,1227,1235,1236,1237,1238,1239,1240,1248,1251,1252,1253,1255,1257,1261,1264,1265,1266,1268,1270,1274,1275,1276,1277,1278,1279,1281,1287,1288,1289,1290,1291,1292,1294,1303,1304,1316,1317,1326,1327,1328,1329,1330,1331,1335,1339,1340,1341,1342,1343,1344,1348,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1411,1426,1427,1475,1476,1479,1480,1483,1484,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1517,1529,1530,1532,1537,1540,1541,1542,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1606,1609,1610,1613,1614,1615,1708,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1431,1432,1503,1504,1517,1518,1519,1529,1530,1531,1532,1534,1535,1537,1538,1539,1540,1542,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1606,1610,1611,1614,1615,1616,1708,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Mattdintino/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (31,1726,1727,1728,1729,1815,1817,1823,1830,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
frames = [
    #df_96, df_97, df_98, df_99, df_00,
    #df_01, df_02, df_03, df_04, 
    df_05, df_06, df_07, df_08, df_09, df_10,df_11, 
    df_12, df_13, df_14, df_15, df_16, df_17
]
data = pd.concat(frames)

In [4]:
print(data.shape)
data = data.set_index('UNITID')
data.head()

(94955, 1977)

,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,SCH_DEG,...,OMAWDP8_NOTFIRSTTIME_POOLED_SUPP,OMENRUP_NOTFIRSTTIME_POOLED_SUPP,OMENRYP_FULLTIME_POOLED_SUPP,OMENRAP_FULLTIME_POOLED_SUPP,OMAWDP8_FULLTIME_POOLED_SUPP,OMENRUP_FULLTIME_POOLED_SUPP,OMENRYP_PARTTIME_POOLED_SUPP,OMENRAP_PARTTIME_POOLED_SUPP,OMAWDP8_PARTTIME_POOLED_SUPP,OMENRUP_PARTTIME_POOLED_SUPP
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data = data.replace('PrivacySuppressed', np.nan)
print(data.shape)

(94955, 1976)

In [6]:
#irrelevant data
cols_to_remove = [
    'OPEID',
    'OPEID6',
    'INSTNM',
    'ZIP',
    'INSTURL',
    'NPCURL',
    'LATITUDE',
    'LONGITUDE',
]
data = data.drop(columns=cols_to_remove)

In [7]:
##Drop columns with earning nulls first
#data_removed_nulls = data.copy()
print(data.shape)

data = data.dropna(axis='columns', how='all')
print(data.shape)

data = data.dropna(axis='rows', how='all')
print(data.shape)
##Drop rows with nulls for our Y column
#data_removed_nulls = data_removed_nulls.dropna(subset=['MD_EARN_WNE_P10'])
#print(data_removed_nulls.shape)



data.head()

(94955, 1968)
(94955, 1946)
(94955, 1946)

,CITY,STABBR,ACCREDAGENCY,SCH_DEG,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,...,OMAWDP8_NOTFIRSTTIME_POOLED_SUPP,OMENRUP_NOTFIRSTTIME_POOLED_SUPP,OMENRYP_FULLTIME_POOLED_SUPP,OMENRAP_FULLTIME_POOLED_SUPP,OMAWDP8_FULLTIME_POOLED_SUPP,OMENRUP_FULLTIME_POOLED_SUPP,OMENRYP_PARTTIME_POOLED_SUPP,OMENRAP_PARTTIME_POOLED_SUPP,OMAWDP8_PARTTIME_POOLED_SUPP,OMENRUP_PARTTIME_POOLED_SUPP
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,Normal,AL,NaN,3.0,NaN,1,1,3,4,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100663,Birmingham,AL,NaN,3.0,NaN,1,1,3,4,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100690,Montgomery,AL,NaN,3.0,NaN,1,1,3,4,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100706,Huntsville,AL,NaN,3.0,NaN,1,1,3,4,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100724,Montgomery,AL,NaN,3.0,NaN,1,1,3,4,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#test = data.copy()
print(data_removed_nulls.shape)
for i in data_removed_nulls.columns:
    data_removed_nulls[i] = data_removed_nulls[i].astype(str)
    data_removed_nulls = data_removed_nulls[data_removed_nulls[i] != 'PrivacySuppressed']
    print(data_removed_nulls.shape)
print("Final: " + str(data_removed_nulls.shape))

##remove 'Privacy suppressed' from all fields
print("Shape before removing 'PrivacySuppressed': " + str(data_removed_nulls.shape))
for i in data_removed_nulls.columns:
    data_removed_nulls = data_removed_nulls[data_removed_nulls[i] != 'PrivacySuppressed']

print("Shape after removing 'PrivacySuppressed': " + str(data_removed_nulls.shape))
#data_removed_nulls = data_removed_nulls[data_removed_nulls.MD_EARN_WNE_P10 != 'PrivacySuppressed']

#generate list of categorical or string variables
cat = []
for i in X.columns:
    if X[i].dtype == "object":
        cat.append(i)
cats = pd.get_dummies(X[cat])
cats

In [8]:
#convert columns into floats where possible, one-hot-encode others
cats = []
for i in data.columns:
    if data[i].dtype == "object":
        try:
            data[i] = data[i].astype('float64')
            if data[i].mean() == np.nan:
                print(i)
                data = data.drop(columns=i)
            else:
                data[i] = data[i].fillna(data[i].mean())
        except:
            cats.append(i)
            data[i] = data[i].fillna("null")
    elif data[i].dtype == "float64":
        data[i] = data[i].fillna(data[i].mean())

In [9]:
# may need to update to handle nulls better
#data = data.fillna(0)

In [10]:
#print("Columns before filtering: " + str(X.shape[1]))
ohe = pd.get_dummies(data[cats])
data = data.drop(columns=cats)
#print("Columns after filtering: " + str(X.shape[1]))
#print("ohe: " + str(ohe.shape[1]))
print(ohe.shape)
ohe.head()

(94955, 15608)

,CITY_ANAHEIM,CITY_ARTESIA,CITY_Abbeville,CITY_Abbottstown,CITY_Aberdeen,CITY_Abilene,CITY_Abingdon,CITY_Abington,CITY_Acworth,CITY_Ada,...,CIPTITLE6_Veterinary Sciences/Veterinary Clinical Sciences General,CIPTITLE6_Veterinary/Animal Health Technology/Technician and Veterinary Assistant,CIPTITLE6_Watchmaking and Jewelrymaking,CIPTITLE6_Web Page Digital/Multimedia and Information Resources Design,"CIPTITLE6_Web Page, Digital/Multimedia and Information Resources Design",CIPTITLE6_Web/Multimedia Management and Webmaster,CIPTITLE6_Welding Technology/Welder,CIPTITLE6_Word Processing,CIPTITLE6_Yoga Teacher Training/Yoga Therapy,CIPTITLE6_null
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
100663,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
100690,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
100706,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
100724,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
print(data.shape)
data.head()

(94955, 1931)

,SCH_DEG,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,LOCALE,...,OMAWDP8_NOTFIRSTTIME_POOLED_SUPP,OMENRUP_NOTFIRSTTIME_POOLED_SUPP,OMENRYP_FULLTIME_POOLED_SUPP,OMENRAP_FULLTIME_POOLED_SUPP,OMAWDP8_FULLTIME_POOLED_SUPP,OMENRUP_FULLTIME_POOLED_SUPP,OMENRYP_PARTTIME_POOLED_SUPP,OMENRAP_PARTTIME_POOLED_SUPP,OMAWDP8_PARTTIME_POOLED_SUPP,OMENRUP_PARTTIME_POOLED_SUPP
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,3.0,0.01378,1,1,3,4,1.0,1.0,5.0,19.808938,...,0.513668,0.29837,0.009626,0.181969,0.519838,0.288567,0.018559,0.209163,0.344468,0.427809
100663,3.0,0.01378,1,1,3,4,1.0,1.0,5.0,19.808938,...,0.513668,0.29837,0.009626,0.181969,0.519838,0.288567,0.018559,0.209163,0.344468,0.427809
100690,3.0,0.01378,1,1,3,4,2.0,1.0,5.0,19.808938,...,0.513668,0.29837,0.009626,0.181969,0.519838,0.288567,0.018559,0.209163,0.344468,0.427809
100706,3.0,0.01378,1,1,3,4,1.0,1.0,5.0,19.808938,...,0.513668,0.29837,0.009626,0.181969,0.519838,0.288567,0.018559,0.209163,0.344468,0.427809
100724,3.0,0.01378,1,1,3,4,1.0,1.0,5.0,19.808938,...,0.513668,0.29837,0.009626,0.181969,0.519838,0.288567,0.018559,0.209163,0.344468,0.427809

In [12]:
ohe = ohe.reset_index()
data = data.reset_index()
#data.index.value_counts()

In [13]:
data1 = data.join(ohe, lsuffix='_l', rsuffix='_r')
#data1 = data1.drop(columns = ['level_0', 'index_l', 'index_r'])
#data1 = pd.merge(data, ohe, left_index=True, right_index=True, how='inner');
print(data1.shape)
data1.head()

(94955, 17541)

,UNITID_l,SCH_DEG,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,...,CIPTITLE6_Veterinary Sciences/Veterinary Clinical Sciences General,CIPTITLE6_Veterinary/Animal Health Technology/Technician and Veterinary Assistant,CIPTITLE6_Watchmaking and Jewelrymaking,CIPTITLE6_Web Page Digital/Multimedia and Information Resources Design,"CIPTITLE6_Web Page, Digital/Multimedia and Information Resources Design",CIPTITLE6_Web/Multimedia Management and Webmaster,CIPTITLE6_Welding Technology/Welder,CIPTITLE6_Word Processing,CIPTITLE6_Yoga Teacher Training/Yoga Therapy,CIPTITLE6_null
0,100654,3.0,0.01378,1,1,3,4,1.0,1.0,5.0,...,0,0,0,0,0,0,0,0,0,1
1,100663,3.0,0.01378,1,1,3,4,1.0,1.0,5.0,...,0,0,0,0,0,0,0,0,0,1
2,100690,3.0,0.01378,1,1,3,4,2.0,1.0,5.0,...,0,0,0,0,0,0,0,0,0,1
3,100706,3.0,0.01378,1,1,3,4,1.0,1.0,5.0,...,0,0,0,0,0,0,0,0,0,1
4,100724,3.0,0.01378,1,1,3,4,1.0,1.0,5.0,...,0,0,0,0,0,0,0,0,0,1

In [14]:
y = data1['MN_EARN_WNE_P10']
y = y.astype("float64")
X = data1.drop(columns=['MD_EARN_WNE_P10'])

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
X_train.head()

,UNITID_l,SCH_DEG,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,...,CIPTITLE6_Veterinary Sciences/Veterinary Clinical Sciences General,CIPTITLE6_Veterinary/Animal Health Technology/Technician and Veterinary Assistant,CIPTITLE6_Watchmaking and Jewelrymaking,CIPTITLE6_Web Page Digital/Multimedia and Information Resources Design,"CIPTITLE6_Web Page, Digital/Multimedia and Information Resources Design",CIPTITLE6_Web/Multimedia Management and Webmaster,CIPTITLE6_Welding Technology/Welder,CIPTITLE6_Word Processing,CIPTITLE6_Yoga Teacher Training/Yoga Therapy,CIPTITLE6_null
84582,239929,1.933565,0.01378,0,18,2,3,3.0,55.0,3.0,...,0,0,0,0,0,0,0,0,0,1
39404,367936,3.000000,0.01378,0,19,3,4,3.0,13.0,5.0,...,0,0,0,0,0,0,0,0,0,1
41248,451671,3.000000,0.01378,0,4,3,4,1.0,12.0,5.0,...,0,0,0,0,0,0,0,0,0,1
69952,375319,1.000000,0.01378,0,3,1,1,3.0,39.0,3.0,...,0,0,0,0,0,0,0,0,0,1
48003,443881,3.000000,0.01378,0,78,3,4,3.0,13.0,5.0,...,0,0,0,0,0,0,0,0,0,1

In [16]:
### Scaling
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [17]:
### Linear Model
lm_reg = LinearRegression()
lm_reg.fit(X_train_scaled, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
train_pred = lm_reg.predict(X_train_scaled)
print("Train error: " + str(mean_squared_error(y_train, train_pred)))

Train error: 3.3328988534340757e-18

In [19]:
lm_pred = lm_reg.predict(X_test_scaled)
print("Test error: " + str(mean_squared_error(y_test, lm_pred)))

Test error: 22529.77189009163

In [20]:
### Ridge Regression
ridge = Ridge()
ridge.fit(X_train_scaled, y_train)

ridge_train_pred = ridge.predict(X_train_scaled)
ridge_pred = ridge.predict(X_test_scaled)

print("Train error: " + str(mean_squared_error(y_train, ridge_train_pred)))
print("Test error: " + str(mean_squared_error(y_test, ridge_pred)))

Train error: 0.6102706124114347
Test error: 0.8973799147808306

In [ ]:
n_bins = 5

fig, axs = plt.subplots(1, 2, sharey=True, tight_layout=True)

axs[0].hist(y_train, bins=n_bins)
axs[1].hist(y_test, bins=n_bins)

In [ ]:
###pick a y metric and remove all other earnings data from input